---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Weaver Goldman</div>
    <div class="text-xl w-full">Computer Science Student</div>
  </div>

  <div class="mb-10 text-justify">
    A Computer Science, Data Science, and Robotics student at Worcester Polytechnic Institute, 
    Weaver is focused on appling technology to create solutions to problems relating to Urban Planning, Robotics,
    Environmental Issues, Biology, and more. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University"
      subtitle="2023 to 2027 at Worcester Polytechnic Institute (WPI), Worcester, MA"
    />
    <TimeLineElement
      title="High School"
      subtitle="2019 to 2023 at Hershey High School, Hershey, PA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Lead Programmer for FRC Robotics Team"
      subtitle="From July 2021 to July 2023 at FRC Team 2539"
    >
    <ul class="list-disc">
      <li>Developed training pipeline and curriculum for team sustainability</li>
      <li>Built first iteration of the team scouting app</li>
      <li>Created telemetry dashboard application with live data and video streams</li>
      <li>Led development of robot code for two seasons</li>
      <li>Advocated for the formation of media, scouting, and strategy subteams</li>
      <li>Switched robot code from Python to Java after a full rewrite test</li>
      <li>Iterated through many autonomous and vision strategies</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant at Cheng Lab"
      subtitle="From June 2021 to August 2021, at Penn State College of Medicine, Hershey, PA"
    >
    <ul class="list-disc">
      <li>Built search tools for micro-CT scans of zebrafish</li>
      <li>Analyzed and compared semi-automated and automated systems for segmenting zebrafish imaging</li>
      <li>Used Test-Driven Development for improved software architecture</li>
      <li>Developed algorithms for the GPU to accelerate hardware performance</li>
      <li>Created 3D renderings of segmented zebrafish using 3DS MAX</li>
      <li>Discussed security vulerabilities with Cyber Security Professional</li>
      <li>Met with lab members and presented new tools and segmentation methods</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Web Developer"
      subtitle="From March 2021 to June 2021"
    >
      <ul class="list-disc">
        <li>Developed web applications and teaching tools for clients</li>
        <li>Worked with clients on planning and negotiation</li>
        <li>Created sustainable codebases within short timeframes</li>
        <li>Designed data visualization widgets</li>
      </ul>
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>React</li>
    <li>Electron</li>
    <li>Python</li>
    <li>Figma</li>
    <li>Java</li>
    <li>Rust</li>
    <li>Flutter</li>
    <li>React Native</li>
    <li>TensorFlow</li>
    <li>D3.js</li>
    <li>p5.js</li>
    <li>Node.js</li>
    <li>TDD</li>
    <li>Arduino</li>
    <li>GPU</li>
  </ul>
</BaseLayout>
