---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Weaver Goldman</div>
    <div class="text-xl w-full">Computer Science BS/MS Student</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University"
      subtitle="2023 to 2027 at Worcester Polytechnic Institute (WPI), Worcester, MA"
    />
    <TimeLineElement
      title="High School"
      subtitle="2019 to 2023 at Hershey High School, Hershey, PA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Development and Research Intern"
      subtitle="Gittlen Cancer Research Labs - May 2024 to August 2024"
    >
      <ul class="list-disc">
        <li>Developed a Python package for extracting ROIs (e.g., nerves, blood vessels) from multi-terabyte, cloud-hosted 3D scans.</li>
        <li>Designed and implemented algorithms to:
          <ul class="list-disc pl-6">
            <li>Bound 3D regions with axis-aligned boxes.</li>
            <li>Slice arbitrarily oriented rectangles from 3D arrays.</li>
            <li>Back-project the slices into 3D space.</li>
          </ul>
        </li>
        <li>Enhanced computational efficiency using multithreading, multiprocessing, and GPU acceleration, resulting in a &gt; 400% speed improvement.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Development Intern at Cheng Lab"
      subtitle="Penn State College of Medicine - June 2021 to August 2021"
    >
    <ul class="list-disc">
      <li>Developed key-point scanning tool for micro-CT zebrafish scans utilizing GPU kernels for improved performance (full 3D searches taking under 5 seconds)</li>
      <li>Designed 9 functional tests through a collaboration with a cybersecurity professional</li>
      <li>Presented the application at a lab meeting along with novel segmentation techniques, leading to an 80\% reduction in workload</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Web Developer"
      subtitle="March 2021 to June 2021"
    >
      <ul class="list-disc">
        <li>Crafted data visualization widgets and teaching tools for clients, utilizing technologies such as p5.js and Mathjax</li>
        <li>Engaged in project planning and negotiation with 15 clients to align with their specific requirements</li>
        <li>Developed robust codebases while adapting to varying project scopes</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ground Station Dashboard | C++, QT, WebSockets"
      subtitle="From September 2023 to April 2024"
    >
    <ul class="list-disc">
      <li>Implemented a 3D rocket viewer that responds to live updates from onboard telemetry</li>
    </ul>
    </TimeLineElement>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="SLAM Maze Explorers | p5.js, Algernon.js, Vite"
      subtitle="From July 2023 to December 2023"
    >
    <ul class="list-disc">
      <li>Created an environment where agents collaboratively solve an unknown maze with memory and search algorithms.</li>
      <li>Designed and built a thematic website for configuring and visualizing the simulation.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="CS Compass (Hackathon) | Python, Streamlit, Pandas"
      subtitle="September 2023"
    >
    <ul class="list-disc">
      <li>Created a web-based CS program comparison tool based on parsed CSV data (with a 2 hour time limit)</li>
      <li>Incorporated data visualization widgets like bar charts and radar charts</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="TinyNEAT | TypeScript, Vite, TypeDoc, GitHub Actions"
      subtitle="From July 2023 to August 2023"
    >
    <ul class="list-disc">
      <li>Designed and built a lightweight, efficient, and extensible NEAT (NeuroEvolution of Augmenting Topologies)
        implementation for the web</li>
      <li>Integrated the library with simulations, providing real-time (greater than 60 fps) neural network and evolution
        processing</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Algernon.js | TypeScript, Vite, Vitest, Canvas API"
      subtitle="July 2023"
    >
    <ul class="list-disc">
      <li>Created a general-purpose web-based maze generation and solving library (reaching times under 1 ms for both)</li>
      <li>Incorporated popular algorithms such as backtracking, Kruskal's, A*, D* Lite, among others</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Paris Housing Analysis | D3.js, React, TypeScript, Vite"
      subtitle="June 2023"
    >
    <ul class="list-disc">
      <li>Analyzed a Paris housing dataset sourced from Kaggle</li>
      <li>Created a data-driven website showcasing key insights, a correlation matrix, and an interactive decision tree in
        JavaScript, reaching 100% accuracy on the dataset</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="MathWorks Math Modeling Challenge (Hackathon) | Python, Matplotlib, NumPy"
      subtitle="March 2023"
    >
    <ul class="list-disc">
      <li>Collected data, built custom mathematical models (regressions), and analyzed methodologies</li>
      <li>Created graphs and comprehensive write-up of findings (with 3-person team, 14-hour time limit)</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Real-time FRC Robot Dashboard | JavaScript, React, Electron"
      subtitle="From January 2023 to July 2023"
    >
      <ul class="list-disc">
        <li>Developed a real-time robot dashboard with live camera feeds and data-driven widgets for monitoring and
          controlling the robot during competitions</li>
        <li>Implemented a WebSocket server for seamless communication with the robot, ensuring low-latency data exchange
          and real-time updates</li>
        <li>Automated the build and release process with GitHub Actions</li>
        <li>Supported simultaneous tracking of hundreds of data points, enhancing situational awareness and contributing to
          improved team performance</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="FRC Robot Code | Java, Gradle, Git"
      subtitle="From January 2023 to July 2023"
    >
      <ul class="list-disc">
        <li>Led and supervised development of competition robot code (4-person team, 6-week time limit)</li>
        <li>Implemented multi-threaded logging and telemetry, autonomous navigation, and localization with AprilTags</li>
        <li>Collaborated on three-joint arm control algorithm using system dynamics and physical characteristics</li>
        <li>Enabled the robot to rank among the top 1% globally for overall performance (through these features)</li>
      </ul>
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>React</li>
    <li>Electron</li>
    <li>Python</li>
    <li>Figma</li>
    <li>C++</li>
    <li>Java</li>
    <li>Rust</li>
    <li>LATEX</li>
    <li>Flutter</li>
    <li>Racket</li>
    <li>MATLAB</li>
    <li>ROS2</li>
    <li>React Native</li>
    <li>TensorFlow</li>
    <li>D3.js</li>
    <li>p5.js</li>
    <li>Node.js</li>
    <li>TDD</li>
    <li>Arduino</li>
    <li>Git/GitHub</li>
    <li>Docker</li>
    <li>Linux</li>
  </ul>
</BaseLayout>
