---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Weaver Goldman</div>
    <div class="text-3xl py-3 font-bold">CS BS/MS Student</div>
    <div class="py-2">
      <text class="text-lg">
        Weaver is a first-year student at WPI who is passionate about Swarm Robotics, Urban Planning and Data Science.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/weaver-goldman/" target="_blank">CONNECT WITH ME!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest Projects</div>
  </div>

  <HorizontalCard
    title="SLAM Maze Explorers"
    img="/content/projects/slam-maze-explorers.png"
    desc="Autonomous agents collaboratively explore and escape a maze-like environment."
    url="https://github.com/We-Gold/slam-maze-explorer"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TinyNEAT"
    img="/content/projects/tinyneat.png"
    desc="TinyNEAT is a simple and extensible NEAT (NeuroEvolution of Augmenting Topologies) implementation in TypeScript."
    url="https://github.com/We-Gold/tinyneat"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Algernon-js"
    img="/content/projects/algernon-js.png"
    desc="Algernon is a JS library for efficiently generating, solving, and rendering mazes."
    url="https://github.com/We-Gold/algernon-js"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent Blog Posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
