---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Weaver Goldman</div>
    <div class="text-3xl py-3 font-bold">Data Science Master's & Computer Science Bachelor's Student</div>
    <div class="py-2">
      <text class="text-lg">
        I'm Weaver, a Computer Science and Data Science student at Worcester Polytechnic Institute. I combine tech and data with biology, robotics, and more. 
      </text>
    </div>

    <div class="py-2">
      <text class="text-lg">
        This summer I'm working at Medtronic on their HUGO Surgical robot. I'm building AI-powered tools for automatically debugging issues with the robot on the engineering side. 
      </text>

    <!-- <div class="py-2">
      <text class="text-lg">
        Besides being a tour guide, I work with the Laboratory of Spaceflight and Planetary Exploration (LSPE) at WPI. I'm building a space-mission planning web application, powered by Python, Docker, and PostgreSQL. This tool helps quickly compare many possible inter-planetary trajectories to find the ideal one based on specific mission constraints.
      </text>
    </div>

    <div class="py-2">
      <text class="text-lg">
        Last summer, I built Ouroboros, a desktop app for cutting regions of interest (e.g. blood vessels, nerves) out of multi-terabyte MRI or Micro-CT scans. Research labs now produce scans too large to fit into computer memory, and this tool decreases the memory footprint of long structures like nerves from terabytes to megabytes, massively reducing the computational cost of processing these structures.
      </text>
    </div> -->
    <div class="my-8">
      <a class="btn" href="https://www.linkedin.com/in/weaver-goldman/" target="_blank">CONNECT</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest Projects</div>
  </div>

  <HorizontalCard
    title="SLAM Maze Explorers"
    img="/content/projects/slam-maze-explorers.png"
    desc="Autonomous agents collaboratively explore and escape a maze-like environment."
    url="https://github.com/We-Gold/slam-maze-explorer"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TinyNEAT"
    img="/content/projects/tinyneat.png"
    desc="TinyNEAT is a simple and extensible NEAT (NeuroEvolution of Augmenting Topologies) implementation in TypeScript."
    url="https://github.com/We-Gold/tinyneat"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Algernon-js"
    img="/content/projects/algernon-js.png"
    desc="Algernon is a JS library for efficiently generating, solving, and rendering mazes."
    url="https://github.com/We-Gold/algernon-js"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Recent Blog Posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
